# Probelm Set 2  BDAT 1004 SEC 03

# Question 1

In [3]:
a = 0            # the variable 'a' is set to 0
def b():               # define a function named b 
 global a            # it tells the fuction b to use the global variable a rather than creating a new local varibale with the same name a 
 a = c(a)
def c(a):
 return a + 2

print(b())            
print(b())
print(b())
print(a)

None
None
None
6

The module defines a global variable 'a' with an initial value of 0, as well as two functions 'b' and 'c'. The 'b' function sets a to the result of calling the 'c' function with the current value of a plus 2. The 'c' function takes an argument 'a' and returns 'a' plus 2. When the 'b' function is called three times, it updates the global variable 'a' by adding 2 to it each time. Finally, when the value of 'a' is evaluated in the interpreter, it displays the current value of the global variable 'a', which is 6.

# Question 2

In [2]:
import os              

def file_length(file_name):   # defines a function "file_length" and it takes a file name
    file = open(file_name)           # file is opened by the function
    contents = file.read()        # function reads the content 
    file.close()
    if os.path.isfile(file_name):           # used os.path.isfile to chcek does file exist
        return len(contents)                     # used len(contents) if the file exists, it will return thr length of the contents string
    else:
        return -1  # Return -1 if the file doesn't exist

filename = 'myfile.txt'                 
filesize = file_length(filename)  # filename is a variable which contains filename and it calls to function 

if filesize != -1:                             # filesize is not equal to -1
    print(f'The size of {filename} is {filesize} bytes.')
else:
    print(f'{filename} does not exist.')

The size of myfile.txt is 123 bytes.

In [9]:
def file_Length(fl):
    try:
        with open(fl, 'r') as infile:
            contents = infile.read()
            return len(contents)
    except FileNotFoundError:
        print("File {} not found.".format(fl))
    except:
        print("Error reading file {}.".format(fl))
print(file_Length('midterm.py'))

(file_Length('idterm.py'))

123
File idterm.py not found.

# Question 3

In [26]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch
    
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)

['doll', 'firetruck', 'kitten']

In [27]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [21]:
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        collatz(x // 2)
    else:
        print(x)
        collatz(3 * x + 1)
        
collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

# Question 5

In [1]:
def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)
n = 0
print(binary(n))
n = 1
print(binary(n))
n = 3
print(binary(n))
n = 10
print(binary(n))

0
1
11
1010

# Question 6

In [41]:
import requests
from bs4 import Beautifulsoup

def webdir(url, depth, indent=0):
    if depth == 0:
        return 
    try:
        response = requests.get(url)
        soup = Beautifuloup(response.txt, 'html.parser')
        print('' * indent + url)
        for link in soup.find_all('a'):
            href = link.get('href')
            if href.statswith('http'):
                webdir(href, depth-1, indent+2)
                except Exception as e:
                    print('' * indent + f'{url} - {e}')
                    
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

SyntaxError: invalid syntax (971597912.py, line 15)

# Question 7

# Question 8

In [6]:
import sqlite3

conn = sqlite3.connect('climate_data1.db')

c = conn.cursor()

c.execute('''CREATE TABLE climate_data (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
            )''')

# Insert the data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

c.executemany('INSERT INTO climate_data VALUES (?, ?, ?, ?, ?)', data)


conn.commit()                  # Commit the changes to the database


c.execute('SELECT Temperature FROM climate_data')  # SQL queries
print(c.fetchall())

c.execute('SELECT DISTINCT City FROM climate_data')
print(c.fetchall())

c.execute('SELECT * FROM climate_data WHERE Country="India"')
print(c.fetchall())

c.execute('SELECT * FROM climate_data WHERE Season="Fall"')
print(c.fetchall())

c.execute('SELECT City, Country, Season FROM climate_data WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season')
print(c.fetchall())

c.execute('SELECT City, Country FROM climate_data WHERE Season="Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC')
print(c.fetchall())

c.execute('SELECT SUM(Rainfall) FROM climate_data WHERE City="Cairo"')
print(c.fetchall())

c.execute('SELECT Season, SUM(Rainfall) FROM climate_data GROUP BY Season')
print(c.fetchall())

# Close the connection 
conn.close()

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[(27.6,)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

In [36]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [element.upper() for element in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [37]:
lowercase_words = [element.lower() for element in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [38]:
[len(element) for element in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [39]:
[[element.upper(), element.lower(), len(element)] for element in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [40]:
[element for element in words if len(element) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']